<div>
    <div class="payingMethodCont">
        <p>We accept the following paying methods</p>
        <div>
            <img src="/footerphotos/brand-amex@3x.avif" alt="">
            <img src="/footerphotos/brand-chinaunionpay@3x.avif" alt="">
            <img src="/footerphotos/brand-jcb@3x.avif" alt="">
            <img src="/footerphotos/brand-mastercard@3x.avif" alt="">
            <img src="/footerphotos/Diners.avif" alt="">
            <img src="/footerphotos/Discover.avif" alt="">
            <img src="/footerphotos/PayPal.avif" alt="">
            <img src="/footerphotos/Visa.avif" alt="">
        </div>
    </div>
    <div>

    </div>
</div>
