<nav>
    <div class="top">
        <h1 id="mainName" routerLink="/">TechShop</h1>
        <ul class="navigation">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
        </ul>
        <div>
            @if (cookie.get("token") == '') {
                <div class="login first cart" routerLink="auth/signin">
                    <p>Sign In</p>
                </div>
                <div class="login first cart" routerLink="auth/signup">
                    <p>Create Account</p>
                </div>
            } @else {
                <div class="profile first">
                    <img [src]="information.avatar" alt="">
                    <p>{{information.firstName}}</p>
                </div>
                <div class="logOut first" (click)="logout()">
                    <p>Log Out</p>
                </div>
                <div class="cart first">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            }
            <i class="fa-solid fa-bars burgerbar" (click)="switch()"></i>
        </div>
        <div class="responsive" [ngClass]="navbar ? 'show' : 'none' ">
            <ul class="navigation">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products">Products</a></li>
            </ul>
            <div>
                @if (cookie.get("token") == '') {
                    <div class="login first cart" routerLink="auth/signin">
                        <p>Sign In</p>
                    </div>
                    <div class="login first cart" routerLink="auth/signup">
                        <p>Create Account</p>
                    </div>
                } @else {
                    <div class="profile">
                        <img [src]="information.avatar" alt="">
                        <p>{{information.firstName}}</p>
                    </div>
                    <div class="logOut" (click)="logout()">
                        <p>Log Out</p>
                    </div>
                    <div class="cart first">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>
