<nav>
    <div class="top">
        <h1 id="mainName" routerLink="/">TechShop</h1>
        <ul class="navigation">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
        </ul>
        <div>
            @if (cookie.get("token") == '') {
                <div class="login first cart" routerLink="auth/signin">
                    <p>Sign In</p>
                </div>
                <div class="login first cart" routerLink="auth/signup">
                    <p>Create Account</p>
                </div>
            } @else {
                <div class="profile first" routerLink="/profile">
                    <img [src]="information.avatar" alt="">
                    <p>{{information.firstName}}</p>
                </div>
                <div class="logOut first" (click)="logout()">
                    <p>Log Out</p>
                </div>
                <div class="cart first" routerLink="/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            }
            <i class="fa-solid fa-bars burgerbar" (click)="switch()"></i>
        </div>
        <div class="responsive" [ngClass]="navbar ? 'show' : 'none' ">
            <ul class="navigation">
                <li><a routerLink="/" (click) = "hide()">Home</a></li>
                <li><a routerLink="/products" (click) = "hide()">Products</a></li>
            </ul>
            <div>
                @if (cookie.get("token") == '') {
                    <div class="repo">
                        <div class="login cart" routerLink="auth/signin" (click) = "hide()">
                            <p>Sign In</p>
                        </div>
                        <div class="login  cart" routerLink="auth/signup" (click) = "hide()">
                            <p>Create Account</p>
                        </div>
                    </div>
                } @else {
                    <div class="repo">
                        <div class="profile" (click) = "hide()" routerLink="/profile">
                            <img [src]="information.avatar" alt="">
                            <p>{{information.firstName}}</p>
                        </div>
                        <div class="logOut" (click)="logout()" (click) = "hide()">
                            <p>Log Out</p>
                        </div>
                        <div class="cart" routerLink="/cart" (click) = "hide()">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>
