<div class="cart-container">
    <h2>Shopping Cart</h2>
    @for (item of productsDetails; track $index) {
        <div class="cart-item">
            <img [src]="item.photo" alt="Product 1">
            <div class="item-details">
                <h3>{{item.title}}</h3>
                <p class="price">{{item.price}}$</p>
                <p> Quantity: {{item.quantity}} </p>
                <button class="remove" (click) = "deleteItem(item.id)">Remove</button>
            </div>
        </div>
    } @empty {
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 10px;">
            <img style="width: 256px;" src="/photos/6.png" alt="" class="notfound">
        </div>
    }
    <div class="cart-total">
        <h3>Total: ${{information.total?.price.current}}</h3>
        <button class="checkout">Proceed to Checkout</button>
        @if(nocart == true){
            <button class="remove" (click) = "removeCart()">Delete Cart</button>
        }@else{

        }
    </div>
</div>