
<div class="browseby">
    <h1>Browse by brand</h1>
    <hr>
    <div class="brands">
        @for (item of brands; track $index) {
            <p (click)="filterByBrands(item)">{{item}}</p>
        }
    </div>
</div>
<div class="browseby">
    <h1>Cagerorie</h1>
    <hr>
    <div class="categories">
        @for (item of categoriesarr; track $index) {
            <button class="categoriebutton" (click)="categorietransport(item.id)"><img [src]="item.image" alt=""></button>
        }
    </div>
</div>
<div class="browseby">
    <h1>Price</h1>
    <hr>
    <div class="price">
        <div class="price-hero">
            <div class="input">
                <label for="min">Min:</label>
                <input type="number" name="min" value="0" (keyup.enter)="price()" [(ngModel)]="min">
            </div>
            <div class="input">
                <label for="Max">Max:</label>
                <input type="number" name="Max" value="0" (keyup.enter)="price()" [(ngModel)]="max">
            </div>
        </div>
        <Button (click)="price()">Apply</Button>
    </div>
</div>