<div class="browseby">
    <h1>Browse by brand</h1>
    <hr>
    <ul class="brands">
        <li (click)="allProducts()">All Products</li>
        @for (item of brands; track $index) {
            <li (click)="filterByBrands(item)">{{item}}</li>
        }
    </ul>
</div>
<div class="browseby">
    <h1>Categories</h1>
    <hr>
    <div class="categories">
        @for (item of categoriesarr; track $index) {
            <button class="categoriebutton" (click)="categorietransport(item.id)"><img [src]="item.image" alt=""></button>
        }
    </div>
</div>
<div class="browseby">
    <h1>Price</h1>
    <hr>
    <div class="price">
        <div class="price-hero">
            <div class="input">
                <label for="min">Min:</label>
                <input type="number" name="min" value="0"  (input)="sortBy()"  [(ngModel)]="min">
            </div>
            <div class="input">
                <label for="Max">Max:</label>
                <input type="number" name="Max" value="0" (input)="sortBy()" [(ngModel)]="max">
            </div>
        </div>
    </div>

    <div class="select">
        <select [(ngModel)] = "sort" (change)="sortBy()" class="sortBy">
            <option>Sort By</option>
            <option value="rating">Rating</option>
            <option value="price">Price</option>
            <option value="issue_date">Issue date</option>
            <option value="title">Title</option>
        </select>
        <select [(ngModel)] = "direction" (change)="sortBy()" class="sortBy">
            <option>Direction</option>
            <option value="asc">Ascendes</option>
            <option value="desc">Descendes</option>
        </select>
    </div>
</div>