<section class="hero">
    <app-filter (mintransport)="minmax($event)" (transport)="filterByBrands($event)" (transportcategorie)="categories($event)"></app-filter>
    <div class="products">
        <app-search (transport)="searchByName($event)"></app-search>
        <div class="sortby">
            <select [(ngModel)] = "sort">
                <option>Sort By</option>
                <option>Rating</option>
                <option>Price</option>
            </select>
        </div>
        <div>
            <div class="ptoductssection">
                    @for (item of products.products; track $index) {
                        <div class="gallery-cell centerCard">
                            <div class="productCard">
                                <div>
                                    <img class="cardImg" [src]="item.images[0]" alt="">
                                    <p class="cardname">{{item.title}}</p>
                                    <div class="priceBar">
                                        @if (item.price.beforeDiscount > item.price.current) {
                                            <p class="beforeDiscount">${{item.price.beforeDiscount }}</p>
                                            <p class="currentPrice">${{item.price.current}}</p>
                                        }
                                        @else {
                                            <p class="currentPrice">${{item.price.current}}</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    } @empty {
                        <img src="/photos/6.png" alt="" class="notfound">

                    }
            </div>
        </div>
    </div>
</section>