<section class="hero">
    <app-filter (transport)="filterByBrands($event)" (transportcategorie)="categories($event)"  (directiontransport)="directiontransport($event)" (allProductss)="getCards(1)"></app-filter>
    <div class="products">
        <app-search (transport)="searchByName($event)"></app-search>
        <div>
            <div class="ptoductssection">
                    @for (item of products.products; track $index) {
                        <div class="gallery-cell centerCard">
                            <div class="productCard" routerLink="/details/{{item._id}}">
                                <div>
                                    <img class="cardImg" [src]="item.images[0]" alt="">
                                    <p class="cardname">{{item.title}}</p>
                                    <div class="priceBar">
                                        @if (item.price.beforeDiscount > item.price.current) {
                                            <p class="beforeDiscount">${{item.price.beforeDiscount }}</p>
                                            <p class="currentPrice">${{item.price.current}}</p>
                                        }
                                        @else {
                                            <p class="currentPrice">${{item.price.current}}</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    } @empty {
                        <img src="/photos/6.png" alt="" class="notfound">
                    }
            </div>
            <div class="pages">
                <button class="pagebutton" [disabled]="currentpage === 1" (click)="currentpage = currentpage - 1 ; getCards(currentpage)">Prev</button>
                @for (item of pages; track $index) {
                    <button class="pagebutton" [class.active]="item === currentpage" (click)="currentpage = item" (click)="getCards(currentpage)">{{item}}</button>
                }
                <button class="pagebutton" [disabled]="currentpage === pages.length" (click)="currentpage = currentpage + 1; getCards(currentpage)">Next</button>
            </div>
        </div>
    </div>
</section>