<div class="hero">
    <div class="herochild">
        <img [src]="information?.avatar" alt="">
        <div>
            <p>First Name: {{information?.firstName}}</p>
            <p>Last Name: {{information?.lastName}}</p>
            <p>Gender: {{information?.gender}}</p>
            <p>Phone: {{information?.phone}}</p>
            <p>Zipcode: {{information?.zipcode}}</p>
            <p>Age: {{information?.age}}</p>
            <p>Email: {{information?.email}}</p>
        </div>
    </div>
</div>
