<div class="hero">
    <div class="hero-main">
        <div class="photo-container">
            <img [src]="productimage[photoarrindex - 1]" alt="">
            <i class="fa-solid fa-left-long" (click)="previous()"></i>
            <i class="fa-solid fa-right-long" (click)="next()"></i>
        </div>
        <div>
            <h1>{{productInfo.title}}</h1>
            <div class="price">
            @if (productInfo.price.beforeDiscount > productInfo.price.current) {
                <p class="beforeDiscount">${{productInfo.price.beforeDiscount }}</p>
                <p class="currentPrice">${{productInfo.price.current}}</p>
            }
            @else {
                <p class="currentPrice">${{productInfo.price.current}}</p>
            }
            </div>
            <p>In Stock: {{productInfo.stock}}</p>
            <div class="quantity">
                <label for="quantity">Quantity</label>
                <input type="number" value="1" name="quantity" [(ngModel)] = "quantity">
            </div>
            <button (click) = "postCart()">Add To Cart</button>
            <div class="description">
                <p>Description</p>
                <p>{{productInfo.description}}</p>
            </div>
        </div>
    </div>
</div>